@use 'base';
@use 'variables';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  font-weight: normal;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 0 10px;
  }
}

body {
  touch-action: pan-x pan-y;
}