:root {
  --default-border-radius: 5px;
  --regular-font-size: 16px;


  --default-text-color: #191919;

  --color-dark-brown: #291300;
  --color-semi-brown: #462000;
  --color-light-brown: #6E4727;
  --color-ochre: #C1824D;
  --color-blue: #5FBED8;
}
